#hogwarts-header {
    padding: 30px;
    text-align: center;
    background: #27364a;
    color: #c5d7ec;
    font-size: 3rem;
    font-family: 'Seaweed Script', cursive;
}

body {
    background-color: white;
}

h1 {
    margin: 0 auto 0 auto;
}

.main-container {
    background-color: white;
    text-align: center;
}

.float-container {
    background-color: white;
    text-align: center;
}

.character-container {
    background-color: white;
    display: inline-block;
    width: 30%;
}

