#hogwarts-header {
    padding: 30px;
    text-align: center;
    background: #27364a;
    color: #c5d7ec;
    font-size: 3rem;
    font-family: 'Seaweed Script', cursive;
}

body {
    background-color: white;
}

h1 {
    margin: 0 auto 0 auto;
}

.main-container {
    background-color: white;
    text-align: center;
}

.float-container {
    background-color: white;
    text-align: center;
}

.character-container {
    background-color: white;
    display: inline-block;
    width: 20%;
}

#character-card-container {
    background-color: white;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: 20%;
    text-align: center;
}

#charPhotos {
    float: left;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    background-image: url('https://m.media-amazon.com/images/I/91v4ui0Si7S._AC_SY606_.jpg');
}

.header-pic {
    width: 50rem;
    height: 20rem;
}

.switch-pic {
    content: url('https://images.ctfassets.net/usf1vwtuqyxm/7lnoakM2cp5csDVoVVD0ZN/87025fa2ca8f22f3eeed6652b2dbcc51/HP-F1-philosophers-stone-great-hall-halloween-floating-pumpkins-feast-web-landscape?fm=jpg&q=70&w=2560')
}